[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "==3.12.2"
djoser = "==2.0.3"
django-cors-headers = "==3.1.0"
django-filter = "*"
djangorestframework-simplejwt = "==4.6.0"
requests = "*"

[dev-packages]
pep8 = "*"
flake8 = "*"
autopep8 = "*"
flake8-import-order = "*"
flake8-polyfill = "*"
pep8-naming = "*"

[requires]
python_version = "3.7"
